# Declare files that will always have LF line endings on checkout.
META-INF/** text eol=lf
common/arm/** binary
common/arm64/** binary
common/magiskhide/** text eol=lf
common/x86/** binary
common/x64/** binary
common/file_contexts_image text eol=lf
common/post-fs-data.sh text eol=lf
common/system.prop text eol=lf
system/** text eol=lf
README.md text eol=lf
config.sh text eol=lf
module.prop text eol=lf
